@import url('../common/main.css');

.job_outer_box{
/*	font-size: 14px;
	color:rgb(114, 114, 114);*/
	line-height: 23px;
}
.job_outer_box strong{
	display: block;
}
.jobtitle{
	background: url(../../images/aboutus/about_4_title.jpg) no-repeat center center;
	text-align: center;
	color: #49bb7d;
	border-bottom: 1px solid #ededed;
	margin: 40px 0;
	padding: 5px;
}
.job_outer_box>div>p:nth-child(2){	
	/*color: rgb(114, 114, 114);
*/
}

.main_title{
	font-size: 1.2rem;
}

.recruitmentprocess{
	color: white;
	border: none;
}
.circlegroup_txt>li{
    line-height: normal;
    background: transparent;
    border: 3px solid #ddd;
    border-radius: 50%;
    padding: 10px;
    font-size: 1rem;
        margin: 0 5px;
          width: 90px;
    height: 90px;
}
.circlegroup_txt>li>span{
	display: table;
	width: 100%;
	height: 100%;
}
.circlegroup_txt>li>span>span{
	vertical-align: middle;
	    display: table-cell;
}
.content_oneblock{
	position: relative;
	
}
.recruitstatement{
	
	   
    width: 100%;
    left: 0;
    bottom: 0;
        background: white;
}
.recruitstatement>p{



}

.recruitmenttomail{
	display: table;
	width: 100%;
}
.recruitmenttomail>span{
	display: table-cell;

}
.recruitmenttomail>span:nth-child(2){
	text-align: right;
}