@import url('../common/main.css');
@import url('../common/sub_common.css');
.banner_img_box {
  background-image: url('../../images/aboutus/banner.jpg');
}
.sub_nav_box > li {
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  display: inline-block;
  font-size: 14px;
  color: #454545;
  cursor: pointer;
}
.sub_nav_active {
  background: #ededed url(../../images/aboutus/sub_nav_bottom.jpg) no-repeat left bottom / 100% auto;
}
.sub_content {
  width: 100%;
  padding: 59px 66px;
  background-color: white;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.sub_2 {
  display: none;
  text-align: center;
  padding-top: 40px;
}
.sub_2 > img {
  max-width: 100%;
}
.sub_2_text_wrap > li {
  width: 118px;
  height: 118px;
  display: inline-block;
  background: url(../../images/aboutus/sub_2_bac.jpg) no-repeat;
  text-align: center;
  line-height: 118px;
  margin: 10px 20px;
}
.mar_top_23 {
  margin-top: 23px;
}
@media (max-width: 600px) {
  .sub_content {
    padding: 10px;
  }
  .sub_1 > div:nth-child(2) {
    display: none;
  }
  .sub_1 > div:nth-child(1) > p {
    margin-top: 10px;
  }
  .sub_3_text_left > p {
    padding-left: 0;
  }
  .sub_3_text_left > * {
    padding-right: 20px;
  }
  .sub_3_text_right > p {
    padding-right: 0;
  }
  .sub_3_text_right > * {
    padding-left: 20px;
  }
  .sub_2_text_wrap > li {
    background: url(../../images/aboutus/sub_2_bac.jpg) no-repeat center / 100% auto;
    width: 80px;
    height: auto;
    margin: 10px 5px;
    padding: 50px 0;
    vertical-align: middle;
    font-size: 0.9em;
    line-height: normal;
  }
}
