@import '../common/main.css';
.banner_img_box {
  transition: all 2s;
  background: transparent center center / cover no-repeat;
  display: none;
}
.banner_img_box > h2 {
  font-weight: 400;
}
.white_h_font {
  color: white;
  font-size: 30px;
}
.banner_img_box1 {
  background-image: url('../../images/home/banner_1.jpg');
}
.banner_1_animate {
  z-index: 1;
  display: block !important;
}
.banner_1_animate > button {
  animation: banner_button 2s forwards;
  display: none;
}
.banner_1_animate > h2 {
  animation-name: banner_one_txt;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes banner_button {
  from {
    margin-top: 185px;
  }
  to {
    margin-top: 85px;
  }
}
@keyframes banner_one_txt {
  from {
    margin-top: 400px;
  }
  to {
    margin-top: 240px;
  }
}
.banner_img_box2 {
  background-image: url('../../images/home/banner_2.jpg');
}
.banner_img_box2 > img {
  display: block;
  margin: 240px auto 0;
  max-width: 80%;
}
.banner_2_animate {
  z-index: 1;
  display: block !important;
}
.banner_2_animate > a {
  animation: banner_button 2s forwards;
}
.banner_2_animate > img {
  animation: banner_two_img 2s forwards;
}
@keyframes banner_two_img {
  from {
    margin-top: 400px;
  }
  to {
    margin-top: 240px;
  }
}
.banner_img_box3 {
  background-image: url('../../images/home/banner_3.jpg');
}
.banner_img_box3 > h2:nth-child(1) {
  margin-top: 185px;
}
.banner_img_box3 > h2:nth-child(2) {
  margin-top: 1rem;
}
.banner_3_animate {
  z-index: 1;
  display: block !important;
}
.banner_3_animate > a {
  animation: banner_button 2s forwards;
}
.banner_3_animate > h2:nth-child(1) {
  animation: banner_one_txt 2s forwards;
}
.banner_img_box4 {
  background-image: url('../../images/home/banner_4.jpg');
}
.banner_4_animate {
  z-index: 1;
}
.banner_img_box4 > img:nth-child(1) {
  animation: banner_four_img 2s forwards;
  max-width: 70%;
}
@keyframes banner_four_img {
  from {
    margin-top: 315px;
  }
  to {
    margin-top: 120px;
  }
}
/*s4 动画*/
.section_4_animate_wrap {
  text-align: center;
  overflow: hidden;
}
.section_4_animate_box {
  color: white;
  position: relative;
}
.section_4_animate_box > li {
  position: absolute;
  transition: top 1s linear, font-size 1s linear;
  line-height: 1em;
  width: 100%;
  white-space: nowrap;
  color: #ccc;
}
.sec_4_ani_1 {
  top: -190px;
  animation: secfourlastDown 1s;
  transition: none !important;
}
.sec_4_ani_2 {
  top: -160px;
}
.sec_4_ani_3 {
  top: -120px;
}
.sec_4_ani_4 {
  top: -75px;
}
.sec_4_ani_5 {
  font-size: 40px;
  top: -25px;
}
.sec_4_ani_4,
.sec_4_ani_6 {
  font-size: 30px;
}
.sec_4_ani_3,
.sec_4_ani_7 {
  font-size: 23px;
}
.sec_4_ani_2,
.sec_4_ani_8 {
  font-size: 19px;
}
.sec_4_ani_1,
.sec_4_ani_9 {
  font-size: 15px;
}
.sec_4_ani_6 {
  top: 40px;
}
.sec_4_ani_7 {
  top: 90px;
}
.sec_4_ani_8 {
  top: 130px;
}
.sec_4_ani_9 {
  top: 165px;
}
@keyframes secfourlastDown {
  0% {
    top: 165px;
    color: #ccc;
  }
  45% {
    top: 185px;
    color: transparent;
  }
  55% {
    top: -210px;
    color: transparent;
  }
  100% {
    top: -190px;
    color: #ccc;
  }
}
/*banner 选择空间*/
.banner_choose_box {
  position: absolute;
  width: 100px;
  z-index: 1;
  bottom: 5px;
  left: 50%;
  margin-left: -50px;
}
.radio_box {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: white;
  cursor: pointer;
  margin: 0 5px;
}
.radio_box > input {
  width: 0;
  height: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.radio_active {
  background-color: #2bced7 !important;
}
/*内容区域*/
.content {
  /*
	width: 80%;
	margin: auto;
	height: auto;
	*/
  background-color: black;
}
.container {
  background: white;
}
.slogan_outer {
  background-color: #ededed;
  padding: 30px 0;
  text-align: center;
}
.slogan_outer > p {
  font-size: 1.6em;
  line-height: 1.3em;
}
.scroll_head {
  width: 100%;
  /*	height: 450px;*/
  background-color: white;
  text-align: center;
}
.scroll_head > img {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}
.scroll_head_oo {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  margin: auto 20px;
  height: 520px;
  overflow: hidden;
  position: relative;
}
/***************图片滚动区**********/
.scroll_head_oo > div {
  position: absolute;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.scroll_head_oo > div > img {
  border: 3px solid #ededed;
  border-radius: 100%;
  width: 117px;
  margin-top: 100px;
}
.scroll_head_oo > div > p {
  color: #5f5f5f;
  font-size: 12px;
}
.scroll_head_oo > div > h2 {
  font-size: 14px;
  color: #272727;
}
/*
.scroll_p1,.scroll_p3,.scroll_p4,.scroll_p5{
	width: 35%;
	padding: 30px 70px;
}*/
.scroll_head_oo > div {
  width: 35%;
  padding: 30px 70px;
}
div.scroll_p2 {
  left: 35%;
  border-top: 4px solid #31bbeb;
  background-color: #ededed;
  width: 30%;
  padding: 30px;
}
div.scroll_p2 > img {
  margin-top: 0px !important;
  width: 80% !important;
}
div.scroll_p2 > p {
  font-size: 16px !important;
}
div.scroll_p2 > h2 {
  font-size: 20px !important;
}
.scroll_p3 {
  left: 65%;
}
.scroll_p4 {
  left: 100%;
}
.scroll_p5 {
  left: 100%;
}
.scroll_p6 {
  left: 100%;
}
.scroll_p7 {
  left: 100%;
}
.scroll_p8 {
  left: 100%;
}
.scroll_p9 {
  left: 100%;
}
.scroll_p8 {
  left: -35%;
}
.scroll_head_headtxt {
  padding-left: 20px;
  position: absolute;
  text-align: left;
}
/*分栏统一样式*/
.section_style {
  height: 472px;
  background-color: #111;
  width: 100%;
  display: table;
}
.section_style > .p2 > img {
  display: none;
}
.section_style > div {
  display: table-cell;
  vertical-align: middle;
}
.section_style > .p1 {
  width: 50%;
  text-align: center;
}
.section_style > .p2 {
  padding: 0 2em;
  text-align: left;
}
.section_style > .p2 > h2,
.scroll_head_headtxt > h2 {
  margin-top: 1em;
  font-size: 27px;
  margin-bottom: 0;
}
.section_style > .p2 > .sectionstyle_txt1 {
  margin: 0 auto 0.5em;
  color: white;
  font-size: 22px;
}
.section_style > .p2 > p {
  color: #969696;
  font-size: 1.2rem;
}
.section_style .button_style {
  margin-top: 1em;
  width: 134px;
  box-sizing: border-box;
  text-align: center;
}
/*section_3*/
.section_3 {
  background: url('../../images/home/section_4_back.jpg');
}
.section_3 > .p2 {
  text-align: center;
}
.section_3 > .p1 {
  width: 0;
}
.section_3 > .p1 > img {
  height: 50%;
  display: none;
}
.section_4 {
  background-color: white;
}
.section_4 > .p2 > .sectionstyle_txt1 {
  color: black;
}
.section_4 > .p2 {
  text-align: right;
}
#section_5 {
  background: white;
  background: url('../../images/home/section_3_back.jpg');
}
#section_5 > .p2 {
  text-align: left;
}
#section_5 > .p2 > p:nth-child(2) {
  color: white;
}
#section_5 > .p1 > img {
  width: 70%;
}
#section_6 {
  height: 400px;
  background: url('../../images/home/section_6_back.jpg');
}
#section_6 > .p1 span {
  margin: 6px 9px;
  display: inline-block;
  width: 116px;
  height: 35px;
  background-position: 0 0;
  background-size: 100% 100%;
  /*
	background: 0 0/100% 100%;
	*/
  opacity: 0.3;
  filter: alpha(opacity=30);
  cursor: pointer;
}
#section_6 > .p1 span:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#section_6 > .p1 > div:nth-child(1) > span:nth-child(1) {
  background-image: url('../../images/home/section_6_1.jpg');
}
#section_6 > .p1 > div:nth-child(1) > span:nth-child(2) {
  background-image: url('../../images/home/section_6_2.jpg');
}
#section_6 > .p1 > div:nth-child(1) > span:nth-child(3) {
  background-image: url('../../images/home/section_6_3.jpg');
}
#section_6 > .p1 > div:nth-child(2) > span:nth-child(1) {
  background-image: url('../../images/home/section_6_4.jpg');
}
#section_6 > .p1 > div:nth-child(2) > span:nth-child(2) {
  background-image: url('../../images/home/section_6_5.jpg');
}
#section_6 > .p1 > div:nth-child(2) > span:nth-child(3) {
  background-image: url('../../images/home/section_6_6.jpg');
}
#section_6 > .p1 > div:nth-child(3) > span:nth-child(1) {
  background-image: url('../../images/home/section_6_7.jpg');
}
#section_6 > .p1 > div:nth-child(3) > span:nth-child(2) {
  background-image: url('../../images/home/section_6_8.jpg');
}
#section_6 > .p1 > div:nth-child(3) > span:nth-child(3) {
  background-image: url('../../images/home/section_6_9.jpg');
}
#section_6 > .p2 {
  text-align: right;
}
#section7,
.section8 {
  width: 96%;
  margin: auto;
}
#section7 {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  text-align: center;
  padding-bottom: 90px;
}
#section7 > span:nth-child(1) {
  display: inline-block;
  padding: 0.4em 2em;
  border-radius: 0 0 5px 5px ;
  background: linear-gradient(to right, #31bbeb, #4dbb7c);
  margin-bottom: 50px;
}
#section7 > div > a {
  margin: auto 1.5%;
  vertical-align: middle;
  line-height: 130px;
  color: #31bbeb;
  display: inline-block;
  width: 130px;
  height: 130px;
  font-size: 14px;
  background: url('../../images/home/section_7_r.png') no-repeat center center;
}
#section7 > div > a:hover {
  background-image: url('../../images/home/section_7_r_h.png');
}
/****************************************移动端****************************************/
@media (max-width: 600px) {
  body {
    font: normal 100% Arial, sans-serif;
  }
  .content {
    width: 100%;
  }
  .slogan_outer {
    background-color: white;
  }
  .scroll_head {
    background-color: #ededed;
    padding-top: 20px;
  }
  .scroll_head_headtxt {
    padding-left: 0;
    text-align: center;
    z-index: 1;
    width: 100%;
    position: static;
  }
  .scroll_head_oo {
    margin: auto 20px;
    width: 60%;
    height: 320px;
  }
  div.scroll_p2 {
    left: 0;
    width: 100%;
    border: none;
    padding: 10px;
  }
  .scroll_p1,
  .scroll_p3,
  .scroll_p4,
  .scroll_p5,
  .scroll_p6,
  .scroll_p7,
  .scroll_p8 {
    left: -100%;
  }
  div.scroll_p2 > img {
    width: 50% !important;
  }
  .scroll_head_oo > div > img {
    width: 0px;
  }
  .section_3 > .p1 > img {
    width: 95%;
  }
  .gradient_font {
    font-size: 1em;
  }
  .white_h_font {
    font-size: 14px;
  }
  @keyframes banner_button {
    from {
      margin-top: 105px;
    }
    to {
      margin-top: 25px;
    }
  }
  @keyframes banner_one_txt {
    from {
      margin-top: 120px;
    }
    to {
      margin-top: 80px;
    }
  }
  @keyframes banner_two_img {
    from {
      margin-top: 120px;
    }
    to {
      margin-top: 80px;
    }
  }
  @keyframes banner_four_img {
    from {
      margin-top: 120px;
    }
    to {
      margin-top: 60px;
    }
  }
  .slogan_outer > p {
    font-size: 14px;
  }
  .slogan_outer {
    padding: 40px 0;
  }
  .scroll_head_headtxt > h2 {
    font-size: 1.2em;
  }
  .scroll_head_headtxt > p {
    font-size: 14px;
  }
  .section_style > .p2 {
    padding: 0 10px;
  }
  .section_style {
    height: 350px;
  }
  .section_style > .p2 > h2,
  .scroll_head_headtxt > h2 {
    font-size: 1.5em;
  }
  .section_style > .p2 > p:nth-child(2) {
    font-size: 14px;
  }
  .section_style > .p2 > p {
    font-size: 0.7em;
  }
  .sec_4_ani_1 {
    top: -83px;
  }
  .sec_4_ani_2 {
    top: -65px;
  }
  .sec_4_ani_3 {
    top: -65px;
    animation: secfourlastDown 1s 1;
    transition: none !important;
  }
  .sec_4_ani_4 {
    top: -35px;
  }
  .sec_4_ani_5 {
    font-size: 20px;
    top: -7px;
  }
  .sec_4_ani_4,
  .sec_4_ani_6 {
    font-size: 14px;
  }
  .sec_4_ani_3,
  .sec_4_ani_7 {
    font-size: 11px;
  }
  .sec_4_ani_2,
  .sec_4_ani_8 {
    display: none;
  }
  .sec_4_ani_1,
  .sec_4_ani_9 {
    display: none;
  }
  .sec_4_ani_6 {
    top: 30px;
  }
  .sec_4_ani_7 {
    top: 60px;
  }
  .sec_4_ani_8 {
    top: 75px;
  }
  .sec_4_ani_9 {
    top: 75px;
  }
  @keyframes secfourlastDown {
    0% {
      top: 55px;
      color: white;
    }
    45% {
      top: 75px;
      color: transparent;
    }
    55% {
      top: -85px;
      color: transparent;
    }
    100% {
      top: -65px;
      color: white;
    }
  }
  #section_6 > .p1 span {
    float: left;
    width: 70px;
    height: 21px;
    opacity: 1;
    filter: alpha(opacity=100);
    margin: 6px 2%;
  }
  #section7 > div > a {
    width: 90px;
    background: url('../../images/home/section_7_r.png') no-repeat center center / 100% auto;
  }
  #section7 > span:nth-child(1) {
    margin-bottom: 10px;
  }
  #section7 {
    padding-bottom: 20px;
  }
  .banner_img_group button,
  .button_style {
    padding: 0 5px;
    line-height: 2em;
    font-size: 0.8em;
  }
  .section_style .button_style {
    width: auto;
    padding: 2px 15px;
  }
  div.scroll_p2 > h2 {
    font-size: 16px !important;
  }
  div.scroll_p2 > p {
    font-size: 14px !important;
  }
}
