@import url('../common/main.css');
@import url('../common/sub_common.css');

.banner{
	height: 50px;
}
.content{
	margin-top: 20px;
}

.content_left{
	padding: 20px;
	background-color: white;
}
.content_left>h2{
	font-size: 32px;
	font-weight: bolder;
	margin-bottom: 10px;

}
.manual_time{
	font-size: 20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 40px;
}
.content_left>h5,.content_left{
	font-size: 16px;
}
.content_left>h5{
	margin-top: 40px;
}
.manual_p_mar_top{
	margin-top: 40px;
}
.content_left>strong,.content_left>p{
	line-height: 28px;
	margin-bottom: 10px;
}
.content_left>strong{
	display: block;
}
.content_left img{
	max-width: 100%;
	display: block;
	margin: auto;
}


